&i2c1 {
    status = "okay";
    sh1106:sh1106@3c{
        compatible="sinowealth,sh1106-custom";
        status="okay";
        reg=<0x3c>;
    }; 
};

&i2c0 {
    status = "disabled";
};

&spi1 {
    status = "disabled";
};

&spi0 {
    status = "okay";
    cs-gpios = < &gpio0 2 GPIO_ACTIVE_LOW >,< &gpio0 2 GPIO_ACTIVE_LOW >;
    microsd:microsd@0{
     compatible ="zephyr,sdhc-spi-slot";
     spi-max-frequency= <16000000>;
     status="okay";
     reg = <0>;
     label = "microsd-card";
    };

    nrf24:nrf24@1{
        compatible="nordic,nrf24";
        reg=<1>;
        spi-max-frequency=<8000000>;
        ce-gpios=<&gpio0 13 GPIO_ACTIVE_HIGH>;
        status="okay";
        label = "nrf24";
    };
};

