# SH1106 display controller configuration options

# Copyright (c) 2023 Surya Poudel
# SPDX-License-Identifier: Apache-2.0

config OLED_SH1106
	bool "SH1106 display controller driver"
	default n
	depends on DT_HAS_SINOWEALTH_SH1106_CUSTOM_ENABLED
	select I2C
	help
	  Enable driver for SH1106 display controller driver.
